<link rel="stylesheet" href="/styles/homepage.css">
<div id="home">
  <div class="container">

    <div class="row">
      <div class="col-8 offset-2">

        <div id="imageContainer">
          <img src="/images/bulbasaur.jpg" width="200px" height="200px" alt="bulbasaur">
          <img src="/images/Charmander.png" width="200px" height="200px" alt="charmander">
          <img src="/images/squirtle.jpg" width="200px" height="200px" alt="squirtle">
        </div>
        <h3 id="yourChoice"></h3>
        <h2 id="test">Battle!</h2>

        <a href="/profile">profile</a>
        <a href="/profile/logout">logout</a>
        <a href="/profile/login">login</a>
        <a href="/profile/signup">signup</a>

        </ul>
      </div>

    </div>



  </div>
</div>